.burgermenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 50;
}
.menu-logo-space {
    width: 50px;
    margin-left: 15px;
}
.menu {
    width: 20px;
    margin: 0 20px;
}
.menu-mobile {
    position: fixed;
    background-color: #727272;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 1.5s;
    padding-top: 100px;
}
.menu-mobile ul {
    padding: 15px 15px 15px 50px;
    display: block;
    list-style: none;
}
.menu-mobile a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}
li {
    margin-bottom: 50px;
    text-align: right;
    padding-right: 15px;
}
.menu-nav {
    display: none;
}

@media screen and (min-width: 1030px) {
    .menu {
        display: none;
    }
    .menu-nav {
        display: block;
    }
    .menu-nav > ul > li {
        display: inline;
        padding: 10px 35px;
    }
    .menu-nav > ul > li > a {
        font-size: 1.5em;
        color: #ffffff;
        text-decoration: none;
    }
}